<ion-content style="background-color:transparent">

</ion-content>
<!-- <div id="deviceready" class="blink">
  <p class="listening">Connecting to Device</p>
  <p class="received">Device is Ready</p>
</div> -->