<ion-header>
  <ion-navbar color="ame">
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
      <ion-card>
          <img src="assets/img/2.png"class="card-background">
      
          <ion-card-content text-justify>
            Plantpedia is an Augmented Reality application. Its core function is to scan an unrecognized/ 
            unknown plant and displays its all specific details about it; such as the scientific name of the plant, 
            other names of the plants that is being called in different areas, details about the plant and the 
            nutritional value and nutritional status of the plant.
          </ion-card-content>
         <div><p>&copy; All rights reserved</p></div>
      </ion-card>
</ion-content>
