<ion-tabs selectedIndex="1" #myTabs color="navyblue">
  <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home" color-active="secondary"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>
</ion-tabs>
