<ion-header>
  <ion-navbar color="pbe">
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Follow us on Twitter, Facebook and Instagram</ion-list-header>
    <ion-item>
      <ion-icon name="logo-twitter" item-left></ion-icon>
      twitter.com/PlantpediaIzReal
    </ion-item>
    <ion-item>
      <ion-icon name="logo-facebook" item-left></ion-icon>
      facebook.com/PlantpediaOfficialPage
    </ion-item>
    <ion-item>
      <ion-icon name="logo-instagram" item-left></ion-icon>
      instagram.com/plantpediainstalie
    </ion-item>
    <ion-item>
      <ion-icon name="ionic" item-left></ion-icon>
     OfficialPlantpedia.com
    </ion-item>
  </ion-list>
</ion-content>
