page-home {

.title.title-md {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 70%;
    text-align: center;
}
.content{
    background-color:#044F67;
}
.p{
    color:#FFFFFF;
    font-size: 30px;
}
.button-ad{
border-radius: 30px;	
}
}
