<ion-header>
    <ion-navbar color="dandelion">
      <ion-title><h2>Infodex</h2></ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>
  <ion-searchbar [(ngModel)]="search"></ion-searchbar>
  <ion-list>
    <button ion-item *ngFor="let item of items | searchInfo: search" (click)="selectedItem(item)">
      <a>
        {{ item.name }}
      </a>
    </button >
    
  </ion-list>
    </ion-content>